@import "../../styles/globals";

$welcome: #213F7D;
$fontColor: #545F7D;

.container {
    @include displays(flex, space-between, center);

    .imgContainer {
        max-width: 50%;
        width: 40%;
        margin: auto;
        @include displays(flex, none, none);
        flex-direction: column;
        gap: 100px;

        img:nth-of-type(1) {
            width: 173.76px;
            height: 36px;
        }

        img:nth-of-type(2) {
            width: 600px;
            height: 337.57px;
        }
    }

    section:nth-of-type(2) {
        background-color: $mainBackground;
        box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
        width: 50%;
        height: 100vh;
        padding: 200px 20px 20px 70px;
        font-family: $loginFont;

        h4 {
            @include font(700, 40px, 55px);
            letter-spacing: -0.04em;
            color: $welcome;
        }

        p {
            @include font(400, 20px, 27px);
            color: $fontColor;
            margin-bottom: 60px;
        }

        form {
            ::placeholder {
                @include font(400, 14px, 19px);
                opacity: 0.6;
                color: $fontColor;
            }
            div {
                margin-bottom: 20px;
            }
            input, button {
                width: 447px;
                height: 50px;
                border: 2px solid rgba(84, 95, 125, 0.15) !important;
                border-radius: 5px !important;
            }
            .password {
                @include font(600, 12px, 16px);
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $btnBackground;
                cursor: pointer
            }
            button {
                @include font(600, 14px, 19px);
                text-transform: uppercase;
                background-color: $btnBackground;
                border: none !important;
                border-radius: 8px;
            }
            button:hover {
                background-color: $btnBackground;
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        .imgContainer {
            img:nth-of-type(2) {
                width: 500px;
                height: 337.57px;
            }
        }
        section:nth-of-type(2) {
            padding: 200px 20px 20px 30px;
        }
    }
}
@media (max-width: 991px) {
    .container {
        flex-direction: column;

        .imgContainer {
            align-items: center;
            gap: 20px;
            max-width: 100%;
            width: 100%;
            margin: 40px auto;

            img:nth-of-type(2) {
                height: 337.57px;
                margin: auto;
            }
        }
        section:nth-of-type(2) {
            padding: 100px 20px 100px 20px;
            width: 100%;
            text-align: center;
            
            form {
                input, button {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        .imgContainer {
            img:nth-of-type(2) {
                width: 500px;
            }
        }
    }
}
@media (max-width: 510px) {
    .container {
        .imgContainer {
            img:nth-of-type(2) {
                width: 320px;
            }
        }
    }
}