@import "../../styles/_globals.scss";

$mainColor: #213f7d;
$subColor: #545f7d;


.content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #e5e5e5;
}
.loading {
    height: 100vh;
    overflow: hidden;

    div {
        color: $mainColor;
        @include font(700, 24px, 28px);
        font-family: $alternativeFont;
        text-align: center;
        margin-top: 40vh;
        animation: bounce 3s infinite;
    }
}

.sf {
    height: 130vh;
    background-color: #e5e5e5 !important;
}
.content {
    background-color: #e5e5e5;
    position: relative;
    top: 90px;
    width: 100%;
    left: 283px;
    font-family: $alternativeFont;
    padding-bottom: 50px;
    
    .container {
        padding-top: 40px;
        width: 1037px;
        margin-left: 40px;

        > div {
            @include font(500, 24px, 28px);
            text-transform: capitalize;
            color: $mainColor;
            margin-bottom: 25px;
        }

        article:nth-of-type(1) {
            @include displays(flex, none, center);
            gap: 30px;

            .card {
                width: 240px;
                height: 160px;
                border: 1px solid rgba(33, 63, 125, 0.06);
                box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                border-radius: 4px;
                @include displays(flex, none, none);
                padding: 20px;
                flex-direction: column;
                gap: 15px;
                background: $mainBackground;

                div:nth-of-type(1) {
                    @include font(500, 14px, 16px);
                    color: $subColor;
                    text-transform: uppercase;
                }

                div:nth-of-type(2) {
                    @include font(600, 24px, 28px);
                }

                img {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
        }
    }

    table {
        background: $mainBackground;
        width: 1037px;
        margin: 40px;
        color: $subColor;

        thead {
            @include font(600, 12px, 14px);
            text-transform: uppercase;
        }

        tbody {
            @include font(400, 12px, 14px);
        }
    }

    .pageContainer {
        max-width: 100%;
        width: 95%;
        margin: auto;
        @include displays(flex, center, center);
        @include font(400, 14px, 16px);
        color: $mainColor;

        .show {
            width: 20%;
            margin-top: -15px;

            span {
                background: rgba(33, 63, 125, 0.1);
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
            }
        }

        .page {
            width: 100%;
            @include displays(flex, center, none);
        }
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 1400px) {
    .content {
        .container {
            width: 900px;

            article:nth-of-type(1) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 50%;
                

                .card {
                    width: 400px;
                }
            }
        }

        table {
            width: 900px;
        }
    }
}
@media (max-width: 1200px) {
    .sf {
        height: 150vh;
    }

    .content {
        .container {

            article:nth-of-type(1) {
                .card {
                    width: 300px;
                }
            }
        }

        table {
            width: 650px;
        }

        .pageContainer {
            margin-left: 40px;
            margin-top: 20px;
            @include displays(flex, none, flex-start);
            flex-direction: column;

            .page {
                @include displays(flex, none, flex-start);
                margin-top: 20px;
                width: 300px;
            }
        }
    }
}

@media (max-width: 991px) {
    .content {
        top: 80px;
        left: 0;
        padding-bottom: 80px;

        .container {
            width: 80%;

            article:nth-of-type(1) {
                .card {
                    width: 240px;
                    height: 160px;
                }
            }
        }

        table {
            width: 1037px;
        }
    }
}
@media (max-width: 576px) {
    .sf {
        height: 200vh;
    }

    .content {
        .container {
            article:nth-of-type(1) {
                grid-template-columns: repeat(1, 1fr);

            }
        }

        .pageContainer {
            .page {
                width: 290px;
                overflow-x: scroll;
            }
        }
    }
}